hero:
  enable: true
  weight: 10
  template: hero

  title: {{.AppName}}
  subtitle: <update the data/landing.yaml file to set this>

  image:
    path: "images"
    filename: "demo.gif"
    alt: "Demo animation"
    boxShadow: false
    rounded: false

  ctaButton:
    icon: rocket_launch
    btnText: "Get Started"
    url: "/docs/quickstart"
  cta2Button:
    icon: article
    btnText: Documentation
    url: "/docs"

  info: "**Open Source** Apache2 Licensed"

featureGrid:
  enabled: false

imageCompare:
  enabled: false