# {{.AppName}}

< insert description >

# First Steps

1. Run `go mod tidy` to install dependencies
2. Run `make build` to compile the binary and verify it works. It should be available under `dist/{{.AppName}}`
3. Build your app



---
This app was scaffolded using [cligen](https://github.com/twinsnes/cligen) ❤️